.site-navigation{
height:65px;
width:100%;
background:white;
display: flex;
justify-content: space-between;
color:#444;
}
ul{
    display:flex;
   margin-block-start: 0;
   margin-block-end: 0;
   padding-inline-start: 0;
    padding-left:0;
    align-items: center;
    height:100%;
    list-style-type: none;
    margin-right:20px;

}
.menu-title{
    font-size:24px;
    display:flex;
    margin-left:20px;
    align-items:center;
    font-weight:400;
    cursor:pointer;
 

}
a{
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size:20px;
    color:#444;
    &:hover{
        color:blue;
    }
}
.menu-container{

    display:flex;
    align-items:center;
    margin-right: 30px;
}

